<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preplane | Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/@popperjs/core@2"></script>

</head>

<body class="m-0 font-sans antialiased font-normal text-base leading-default bg-gray-50 text-slate-500">
    <div th:replace="fragments/sidenav :: sidenav">This content will be replaced by the `sidenav` fragment</div>
    <!-- Blog Content -->
    <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
        <div th:replace="fragments/navbar :: navbar" th:with="name=${title}">This content will be replaced by the
            `navbar`
            fragment</div>

        <div class="max-w-2xl mx-auto bg-white rounded-md p-4 shadow-lg">
            <div class="hidden" id="blog_id" th:text="${id}"></div>
            <h1 class="text-2xl font-bold" id="blogTitle"></h1>
            <div class="text-gray-600 text-sm mt-2">
                <span class="mr-4" id="authorInfo">Author: Jane Smith</span>
                <span class="mr-4" id="dateInfo">Date Added: October 21, 2023</span>
            </div>
            <p class="mt-4" id="blogContent"></p>
            <div class="flex justify-between items-center mt-4">
                <div class="flex items-center">
                    <button class="flex items-center text-green-600 mr-4" id="upvoteBlogPost">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6V3M12 3c-3.866 0-7 3.134-7 7s3.134 7 7 7 7-3.134 7-7-3.134-7-7-7z" />
                        </svg>
                        Upvote
                    </button>
                    <button class="flex items-center text-red-600" id="downvoteBlogPost">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 21v-2M12 21c4.418-0.002 8-3.582 8-7.998 0-4.416-3.582-8-7.998-8-4.415 0-7.997 3.584-7.997 7.998C4.003 17.418 7.585 21 12 21z" />
                        </svg>
                        Downvote
                    </button>
                </div>
                <div class="flex items-center">
                    <button class="flex items-center text-gray-600" id="toggleComments">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                        Show Comments
                    </button>
                </div>
            </div>

            <!-- Comment Section -->
            <div class="mt-4 p-4 bg-gray-200 rounded-md hidden" id="commentsSection">
                <div id="comments"></div>
            </div>

            <!--Submit Form-->
            <div class="mt-2">
                <div class="mt-2">
                    <textarea id="commentText" placeholder="Your Comment" class="w-full border p-2 rounded"></textarea>
                </div>
                <button id="submitComment" onclick="submitForm()"
                    class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Add Comment</button>
            </div>

        </div>
    </main>


</body>
<script>

    // Function to populate the blog content
    function populateBlogContent(blog) {
        document.getElementById('blogTitle').textContent = blog.title;
        document.getElementById('authorInfo').textContent = `Author: ${blog.creator.firstName} ${blog.creator.lastName}`;
        document.getElementById('dateInfo').textContent = `Date Added: ${blog.createdAt || `Sometime ago...`}`;
        document.getElementById('blogContent').innerHTML = blog.content;
    }

    // Function to populate comments
    function populateComments(commentsArray) {
        const commentsContainer = document.getElementById('comments');
        commentsContainer.innerHTML = "";
        commentsArray.forEach(comment => {
            const commentDiv = document.createElement('div');
            commentDiv.innerHTML = `
                <div class="text-gray-500">${comment.creator.firstName} ${comment.creator.lastName}says:</div>
                <p class="mt-2">${comment.content}</p>
            `;
            commentsContainer.appendChild(commentDiv);
        });
    }

    async function fetchData() {
        const authToken = localStorage.getItem("preplane-authHeader");

        const id = document.getElementById("blog_id").textContent;
        const blogUrl = `/api/threads/${id}`;
        const commentsUrl = `/api/comments/thread/${id}`;

        const blogResponse = await fetch(blogUrl, {
            method: 'GET',
            headers: {
                "Authorization": authToken,
                'Content-Type': 'application/json'
            },
        });

        const commentResponse = await fetch(commentsUrl, {
            method: 'GET',
            headers: {
                "Authorization": authToken,
                'Content-Type': 'application/json'
            },
        });

        blogPost = await blogResponse.json();
        comments = await commentResponse.json();

        populateBlogContent(blogPost);
        populateComments(comments);
    }

    function submitComment() { }

    function upvoteBlogPost() { }

    function downvoteBlogPost() { }


    const toggleCommentsButton = document.getElementById('toggleComments');
    const commentsSection = document.getElementById('commentsSection');
    const commentForm = document.getElementById('commentForm');
    const submitCommentButton = document.getElementById('submitComment');

    let isCommentsVisible = false;

    toggleCommentsButton.addEventListener('click', () => {
        if (isCommentsVisible) {
            commentsSection.classList.add('hidden');
            toggleCommentsButton.innerText = 'Show Comments';
        } else {
            commentsSection.classList.remove('hidden');
            toggleCommentsButton.innerText = 'Hide Comments';
        }
        isCommentsVisible = !isCommentsVisible;
    });

    submitCommentButton.addEventListener('click', () => {
        const commentAuthor = document.getElementById('commentAuthor').value;
        const commentText = document.getElementById('commentText').value;

        if (commentAuthor && commentText) {
            const newComment = {
                author: commentAuthor,
                text: commentText,
            };

            // TODO
            // Need to add logic to add the comment to the backend and then rerender the whole page

            // Clear the input fields
            document.getElementById('commentAuthor').value = '';
            document.getElementById('commentText').value = '';
        }
    });

    fetchData();
</script>

</html>