<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preplane | Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/@popperjs/core@2"></script>

</head>

<body class="m-0 font-sans antialiased font-normal text-base leading-default bg-gray-50 text-slate-500">
    <div th:replace="fragments/sidenav :: sidenav">This content will be replaced by the `sidenav` fragment</div>
    <!-- Blog Content -->
    <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
        <div th:replace="fragments/navbar :: navbar" th:with="name=${title}">This content will be replaced by the
            `navbar`
            fragment</div>

        <div class="max-w-2xl mx-auto bg-white rounded-md p-4 shadow-lg">
            <div class="hidden" id="blog_id" th:text="${id}"></div>
            <h1 class="text-2xl font-bold" id="blogTitle"></h1>
            <div class="text-gray-600 text-sm mt-2">
                <span class="mr-4" id="authorInfo">Author: Jane Smith</span>
                <span class="mr-4" id="dateInfo">Date Added: October 21, 2023</span>
            </div>
            <div class="text-gray-600 text-sm mt-2">
                <span class="mr-4" id="upvoteCount"></span>
                <span class="mr-4" id="downvoteCount"></span>
            </div>

            <p class="mt-4" id="blogContent"></p>
            <div class="flex justify-between items-center mt-4">

                <!-- Upvote/Downvote thread section -->
                <div class="flex items-center voting-component">
                    <div class="voting-component">
                        <button id="upvote" class="vote-button">
                            <i class="far fa-thumbs-up"></i>
                        </button>
                        <button id="downvote" class="vote-button">
                            <i class="far fa-thumbs-down"></i>
                        </button>
                    </div>
                </div>

                <!-- Show Comments Button -->
                <div class="flex items-center">
                    <button class="flex items-center text-gray-600" id="toggleComments">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                        Show Comments
                    </button>
                </div>
            </div>

            <!-- Comment Section -->
            <div class="mt-4 p-4 bg-gray-200 rounded-md hidden" id="commentsSection">
                <div id="comments"></div>
            </div>

            <!--Submit Form-->
            <div class="mt-2">
                <div class="mt-2">
                    <textarea id="commentText" placeholder="Your Comment" class="w-full border p-2 rounded"></textarea>
                </div>
                <button id="submitComment" onclick="submitForm()" class="text-black">Add Comment</button>
            </div>

        </div>
    </main>


</body>
<script>

    // Function to populate the blog content
    function populateBlogContent(blog) {
        document.getElementById('blogTitle').textContent = blog.title;
        document.getElementById('authorInfo').textContent = `Author: ${blog.creator.firstName} ${blog.creator.lastName}`;
        document.getElementById('dateInfo').textContent = `Date Added: ${blog.createdAt || `Sometime ago...`}`;
        document.getElementById('blogContent').innerHTML = blog.content;
        document.getElementById("upvoteCount").innerHTML = `Upvotes: ${blog.upvotes}`
        document.getElementById("downvoteCount").innerHTML = `Downvotes: ${blog.downvotes}`
    }

    // Function to populate comments
    function populateComments(commentsArray) {
        const commentsContainer = document.getElementById('comments');
        commentsContainer.innerHTML = "";
        commentsArray.forEach(comment => {
            const commentDiv = document.createElement('div');
            commentDiv.innerHTML = `
                <div class="text-gray-500">${comment.creator.firstName} ${comment.creator.lastName}says:</div>
                <p class="mt-2">${comment.content}</p>
            `;
            commentsContainer.appendChild(commentDiv);
        });
    }

    async function fetchData() {
        const authToken = localStorage.getItem("preplane-authHeader");

        const id = document.getElementById("blog_id").textContent;
        const blogUrl = `/api/threads/${id}`;
        const commentsUrl = `/api/comments/thread/${id}`;

        const blogResponse = await fetch(blogUrl, {
            method: 'GET',
            headers: {
                "Authorization": authToken,
                'Content-Type': 'application/json'
            },
        });

        const commentResponse = await fetch(commentsUrl, {
            method: 'GET',
            headers: {
                "Authorization": authToken,
                'Content-Type': 'application/json'
            },
        });

        blogPost = await blogResponse.json();
        comments = await commentResponse.json();

        populateBlogContent(blogPost);
        populateComments(comments);
    }

    function submitComment(commentText) {
        fetch(`/api/comments/`, {
            method: 'POST',
            headers: {
                "Authorization": authToken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                threadId: document.getElementById("blog_id").textContent,
                content: commentText,
            })
        });
    }

    const toggleCommentsButton = document.getElementById('toggleComments');
    const commentsSection = document.getElementById('commentsSection');
    const commentForm = document.getElementById('commentForm');
    const submitCommentButton = document.getElementById('submitComment');

    let isCommentsVisible = false;

    toggleCommentsButton.addEventListener('click', () => {
        if (isCommentsVisible) {
            commentsSection.classList.add('hidden');
            toggleCommentsButton.innerText = 'Show Comments';
        } else {
            commentsSection.classList.remove('hidden');
            toggleCommentsButton.innerText = 'Hide Comments';
        }
        isCommentsVisible = !isCommentsVisible;
    });

    submitCommentButton.addEventListener('click', () => {
        const commentText = document.getElementById('commentText').value;

        if (commentText != "") {
            submitComment(commentText);
            location.reload();
        }
        else alert("The comment body cannot be empty.")
    });

    fetchData();
</script>

<!-- This script tag deals with all the upvote/downvote logic of the thread -->
<script>
    const upvoteButton = document.getElementById('upvote');
    const downvoteButton = document.getElementById('downvote');

    const authToken = localStorage.getItem("preplane-authHeader");
    const threadId = document.getElementById("blog_id").textContent;

    const apiUrl = {
        getStatus: `/api/threads/status/${threadId}`,
        upvote: `/api/threads/upvote/${threadId}`,
        downvote: `/api/threads/downvote/${threadId}`,
        removeVote: `/api/threads/remove-vote/${threadId}`,
    };

    checkStatus();

    upvoteButton.addEventListener('click', toggleUpvote);
    downvoteButton.addEventListener('click', toggleDownvote);

    // Used to check the initial status of the page and set the buttons accordingly
    function checkStatus() {
        fetch(apiUrl.getStatus, {
            method: "GET",
            headers: {
                "Authorization": authToken,
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data === 1) {
                    setButtonState(upvoteButton, true);
                    setButtonState(downvoteButton, false, true);
                } else if (data === -1) {
                    setButtonState(upvoteButton, false, true);
                    setButtonState(downvoteButton, true);
                } else {
                    setButtonState(upvoteButton, false);
                    setButtonState(downvoteButton, false);
                }
            });
    }

    function toggleUpvote() {
        if (upvoteButton.classList.contains('active')) {
            // Remove upvote
            fetch(apiUrl.removeVote, {
                method: 'POST',
                headers: {
                    "Authorization": authToken,
                    'Content-Type': 'application/json'
                },
            })
                .then(() => {
                    setButtonState(upvoteButton, false);
                    setButtonState(downvoteButton, false, false);
                })
                .finally(() => {
                    location.reload();
                });
        } else {
            // Add upvote
            fetch(apiUrl.upvote, {
                method: 'POST',
                headers: {
                    "Authorization": authToken,
                    'Content-Type': 'application/json'
                },
            })
                .then(() => {
                    setButtonState(upvoteButton, true);
                    setButtonState(downvoteButton, false, true);
                })
                .finally(() => {
                    location.reload();
                });
        }
    }

    function toggleDownvote() {
        if (downvoteButton.classList.contains('active')) {
            // Remove downvote
            fetch(apiUrl.removeVote, {
                method: 'POST',
                headers: {
                    "Authorization": authToken,
                    'Content-Type': 'application/json'
                },
            })
                .then(() => {
                    setButtonState(downvoteButton, false);
                    setButtonState(upvoteButton, false, false)
                })
                .finally(() => {
                    location.reload();
                });
        } else {
            // Add a downvote
            fetch(apiUrl.downvote, {
                method: 'POST',
                headers: {
                    "Authorization": authToken,
                    'Content-Type': 'application/json'
                },
            })
                .then(() => {
                    setButtonState(downvoteButton, true);
                    setButtonState(upvoteButton, false, true);
                })
                .finally(() => {
                    location.reload();
                });;
        }
    }

    // Used to update the state of the button: `isActive` and `isDisabled`
    function setButtonState(button, isActive, isDisabled = false) {
        const icon = button.querySelector('i');
        if (isActive) {
            icon.classList.remove('far');
            icon.classList.add('fas');
            button.classList.add('active');
        } else {
            icon.classList.remove('fas');
            icon.classList.add('far');
            button.classList.remove('active');
        }

        if (isDisabled)
            button.classList.add('disabled');
        else
            button.classList.remove('disabled');
    }
</script>

<style>
    .active {
        color: #007bff;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
</style>

</html>